@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "Times New Roman", sans-serif;
}

/* Constrain the width and center the webpage */
.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* Header styles */
.header {
    background-color: #1F2937;
    padding: 20px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.header ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.header ul a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

/* Hero styles */
.hero {
    background-color: #1F2937;
    padding: 90px 0 120px;
}

.hero .container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 8px;
}

.hero button {
    background-color: #3882F6;
    color: #F1F6FE;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
    padding: 8px 32px;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 225px;
    width: 500px;
    background-color: #6D747D;
}

.hero img {
    color: #DFE0E3;
}

/* Content styles */
.content {
    text-align: center;
}

.content h1 {
    max-width: 1000px;
    margin: 0 auto;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    padding: 40px 0;
}

.content .container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 0 0 100px;
}

.container .items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .illustration {
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 8px;
}

.content p {
    max-width: 150px;
    color: #737B87;
}